* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.swi {
    height: 3rem;
    position: relative;
    width: 8rem;
    border-radius: 25px;
    background-color: hsl(0, 10%, 73%);
}

.toggle {
    background-color: white;
    border-radius: 50%;
    height: 2.50rem;
    position: absolute;
    transition: 1.5s;
    width: 2.50rem;
    left: 5px;
    top: 4px;
}